.ContainerBanner {
    height: 850px;
    width: 100%;
    position: relative;
    overflow: hidden; /* Para evitar que a imagem ultrapasse os limites do contêiner */
}

.ContainerBanner img {
    width: 100%;
    height: 100%; /* Mudança aqui para garantir que a imagem se ajuste ao contêiner */
    object-fit: cover; /* Para manter a proporção da imagem */
}

.divText {
    width: 350px;
    height: 300px;
    position: absolute;
    top: 30%; 
    left: 18%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 1;
    
}

.divText h1{
    font-family: "DM Serif Text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    text-align: justify;
    color: #735025;
}

.divText p{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align:start;
    padding: 25px;
}