.cards-container{
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}
.card {
    background-color: #8f6530;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    transition: transform 0.3s;
    border: 1px solid #8f6530;
}

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 15px;
}

.card-title h2{
    font-family: "DM Serif Text", serif;
    font-size: 25px;
    margin: 0;
    color: white;
}

.card-text {
    font-family: "DM Serif Text", serif;
    font-size: 18px;
    color: white;
}

.card-title h2{
    color: white;
}

.containerCards h1{
    margin-top: 5px;
    margin-left: 25%;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: justify;
    color: #735025;
}

.containerCards h2{
    margin-top: 5px;
    margin-left: 10%;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    color: #735025;
}
